# The following file extensions and directories or patterns will be ignored by git tracking system:

*.pyc
*.npy
*.nii.gz
*.pkl
*.xml
*.iml
*.pdf
*.pkl
*.swp


.idea/
.ipynb_checkpoints/*
.ipynb_checkpoints/
results/
